<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <div class="page-header">
    <% include ../helpers/navbar %>
    
    <h1>Projects</h1>
  </div>

  <p>Here is a page about our projects.</p>
  
</body>

</html>